:root {

  }



* {
    box-sizing: border-box;

}

html {
    font-size: 16;
    font-family: "Roboto Mono"; 
    font-weight: 200;
    background-color: #264a2a;
    color: white;
    scroll-behavior: smooth;
    cursor: url('https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmXGbD6CTvMWKqdHGEHAzmAju3ZxxkdzUVGpgXSYRntc5K') 9 9, auto;
}

body{
    margin: 0px;
}

.main-body{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: red;
}

.gallery2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-template-rows: repeat(infinite, 49%);
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
@media only screen and (max-width: 830px) {

    .gallery2{
        grid-template-columns: repeat(1, 100%);
        grid-row-gap: 10px;
    }

}


.member-plot{
    height: 45vw;
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
}
.member-portal{
    width: 100%;
    height: 100%;
}
.text-box{
    position: relative;
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    padding: 25px;
    overflow-x: hidden;
    z-index: 0;
}