
* {
    box-sizing: border-box;

}

html {

    overflow:scroll;
    font-size: 16px;
    font-family: "Roboto Mono"; 
    font-weight: 200;
    background-color: darkolivegreen;
    margin: 0px;
    padding: 0px;
    color: black;
    scroll-behavior: smooth;
    cursor: url('https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmXGbD6CTvMWKqdHGEHAzmAju3ZxxkdzUVGpgXSYRntc5K') 9 9, auto;
}

body {
    
    margin: 0px;
    padding: 0;

    
  }

.grid-body{
    max-height: 11050px;
    position: relative;
    display: grid;
    padding: 35px;
    grid-template-columns: repeat(
      120,
      100px
    ); /* Adjust the number of columns as needed */
    grid-template-rows: repeat(
      120,
      100px
    ); /* Adjust the number of rows as needed */
    gap: 10px; /* Adjust the gap between cells */

}
.grid-title{
    position: relative;
    display: grid;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: transparent;
    grid-template-columns: repeat(
      70,
      110px
    ); /* Adjust the number of columns as needed */
    grid-template-rows: repeat(
      20,
      110px
    ); /* Adjust the number of rows as needed */
    gap: 0px; /* Adjust the gap between cells */
    z-index: 11;
}
.grid-title-shadow{
    position: relative;
    display: grid;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: transparent;
    grid-template-columns: repeat(
      70,
      110px
    ); /* Adjust the number of columns as needed */
    grid-template-rows: repeat(
      18,
      110px
    ); /* Adjust the number of rows as needed */
    gap: 0px; /* Adjust the gap between cells */
    z-index: 3;
}
.grid-title-shadow .title-plot{
    background-color: black;
    z-index: 3;
    filter: opacity(30%) blur(15px);
}
.grid-title-shadow .title-plot2{
    background-color: black;
    z-index: 3;
    filter: opacity(30%) blur(15px);
}
.grid-title-shadow .title-plot3{
    background-color: black;
    z-index: 3;
    filter: opacity(30%) blur(15px);
}
/* box-shadow: -10px 10px 10px 5px rgba(0,0,0,.8); */
.title-plot {
    color: white;
    font-size: 30px;
    position: relative;
    background-color: white;
    filter: opacity(90%);
    border-radius: 15px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 11;
    animation: floatUpDown 4s linear infinite;
  }
  .title-plot2 {
    color: white;
    font-size: 30px;
    position: relative;
    background-color: white;
    filter: opacity(90%);
    border-radius: 15px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 11;
    animation: floatUpDown 8s linear infinite;
  }
  .title-plot3 {
    color: white;
    font-size: 30px;
    position: relative;
    background-color: white;
    filter: opacity(90%);
    border-radius: 15px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 11;
    animation: floatUpDown 12s linear infinite;
  }

a{
    color: black;
    text-decoration: none;
}

.ruler-layer{
    position: absolute;
    width: 11060px;
    height: 11050px;
    z-index: 5;
}
.rulerY-layer{
    position: absolute;
    display: flex;
    width: 11060px;


}
.ruler-corner-topright{
    height: 25px;
    width: 25px;
    left: calc(100% - 25px);
    margin-right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 7;
    background-color: lightgreen;
}
.ruler-corner-topleft{
    position: absolute;
    height: 25px;
    width: 25px;
    left: 0;
    margin-right: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 7;
    background-color: lightgreen;
}
.ruler-corner-bottomright{
    height: 25px;
    width: 25px;
    left: calc(100% - 25px);
    margin-right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 7;
    background-color: lightgreen;
}
.ruler-corner-bottomleft{
    position: absolute;
    height: 25px;
    width: 25px;
    left: 0;
    margin-right: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 7;
    background-color: lightgreen;
}

.rulerX{
    position: sticky;
    display: flex;
    padding-left: 30px;
    margin: 0px;
    width: 11060px;
    height: 25px;
    top: 0;
    background-color: lightgreen;
    border-bottom: 1px solid black;
    z-index: 5;
}
.rulerX-bottom{
    position: sticky;
    display: flex;
    padding-left: 30px;
    margin: 0px;
    width: 11060px;
    height: 25px;
    top: calc(100% - 25px);
    background-color: lightgreen;
    border-top: 1px solid black;
    z-index: 5;
}
.rulerX-number{
    font-weight: 400;
    padding-top: 1px;
    justify-content: center;
    text-align: center;
    width: 110px;
    border-right: 1px solid black;

}

.rulerY{
    position: absolute;
    padding-top: 5px;
    left: 0;
    width: 25px;
    height: 11000px;
    background-color: lightgreen;
    border-right: 1px solid black;
    z-index: 4;
}
.rulerY-right{
    position: sticky;
    padding-top: 5px;
    left: calc(100% - 25px);
    width: 25px;
    height: 11000px;
    background-color: lightgreen;
    border-left: 1px solid black;
    z-index: 4;
}
.rulerY-number{
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-left: 1px;
    justify-content: center;
    text-align: center;
    height: 110px;
    border-bottom: 1px solid black;

}
/**/



.h1-section{
    display: flex;
    justify-content: center;
    color: black;
    background-color:lightgreen;
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0px;
}

.spacer5{
    height: 5px;
    width: 5px;
}
.spacer10{
    height: 10px;
    width: 10px;
}
.spacer15{
    height: 15px;
    width: 15px;
}
.spacer25{
    height: 25px;
    width: 25px;
}
.spacer50{
    height: 50px;
    width: 50px;
}
.spacer100{
    height: 100px;
    width: 100px;
}

.gallery2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-template-rows: repeat(infinite, 49%);
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
@media only screen and (max-width: 830px) {

    .gallery2{
        grid-template-columns: repeat(1, 100%);
        grid-row-gap: 10px;
    }

}


.plot {
    position: relative;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 0;
  }
.empty-plot{
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 0;
    background-color: transparent;
    transition:ease-in 0s;
}
.trans-plot {
    position: relative;
    border-radius: 5px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 0;
  }
.link-plot {
    position: relative;
    background-color: lightgreen;
    border: 3px solid lightgreen;
    border-radius: 5px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 0;
  }
  .link-plot-body{
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    padding: 5px;
}


  /* Customize the placement of plots based on grid coordinates */


  .plot-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .plot-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .plot-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .plot-4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .plot-5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .plot-6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

.member-portal{
    width: 100%;
    height: 100%;
}
.link-box{
    position: relative;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 15px;
    overflow-x: hidden;
    flex-wrap: wrap;
    z-index: 0;
}

.link-bubble{
    white-space:nowrap;
    font-style: normal;
    background-color:springgreen;
    color: black;
    border: 1px dashed black;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.link-bubble:hover{
    font-weight: 300;
    color: black;
    border: 1px solid black;
}

.space-invader{
    top: 50px;
    left: 50px;
    position: absolute;
    filter: invert(100%);
    animation: invade 30s  ease-in-out infinite;
    z-index: 3;
}



@keyframes invade {
    0% {transform: translateX(0) translateY(0);}
    25% {transform: translateX(10800px) translateY(0);}
    50% {transform: translateX(10800px) translateY(10800px);}
    75% {transform: translateX(0) translateY(10800px);}
    100% {transform: translateX(0) translateY(0);}
  }


  @keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }